{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<script defer src="{% static 'js/expense_form.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}
<div class='page-header text-xl text-gray-100'>
  <h1>Create Expense</h1>
</div>

  <div class="grid mb-4 py-10 mt-4 px-8 mx-8 rounded-3xl bg-gray-100 border-4 border-green-400">

      <form method="post" class="form-container">

          {% csrf_token %}
        <table>
          {{ form.as_table}}
        </table>  
        <button type="submit" class="w-full mt-6 text-indigo-50 font-bold bg-indigo-600 py-3 rounded-md hover:bg-indigo-500 transition duration-300">Add Expense
        </button>
      </form>
    </div>

{% endblock %}