{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="max-w-md mx-auto mt-10 bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
      <div class="md:flex-shrink-0">
        <img class="h-48 w-full object-cover md:w-48" src="../../static/images/15120-delete.gif" alt="trash">
      </div>
      <div class="p-8">
        <div class="tracking-wide text-lg font-semibold">
          <h1>Delete Income?</h1>
        </div>
        <p class="block mt-4 text-md leading-tight font-sm text-black">Are you sure you want to delete {{ object.source }}?</p>
        <form action="" method="POST" class="form">
        {% csrf_token %}
          <button class="mt-7 p-2 text-gray-700 bg-yellow-300 rounded-md hover:bg-yellow-400">
            <a 
              href="{% url 'incomes_index' %}" 
              class=""> Cancel
            </a>
          </button>
          <button type="submit" class="mx-2 mt-7 p-2 text-gray-700 bg-red-300 rounded-md hover:bg-red-500">Yes - Delete!</button>
        </form>

      </div>
    </div>
</div>

{% endblock %}