{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<script defer src="{% static 'js/income_form.js' %}"></script>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/> {% endcomment %}
{% endblock %}

{% block content %}

<h1>Add an Income</h1>
<div class="min-h-screen bg-gray-100 flex items-center">
  <div class="container mx-auto max-w-md shadow-md hover:shadow-lg transition duration-300">
    <div class="py-12 p-10 bg-indigo-50 rounded-xl">
      <form action="" method="post">

            {% csrf_token %}

          {{ form.as_p }}
        <button type="submit" class="w-full mt-6 text-indigo-50 font-bold bg-indigo-600 py-3 rounded-md hover:bg-indigo-500 transition duration-300">Create Income</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}