{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}
<h1>Income Index</h1>
<h2>Total Income: {{total}}</h2>
<div class='overflow-x-auto mt-6'>
  <table class="table-auto border-collapse w-full">
    <thead>
      <tr class="rounded-lg text-sm font-medium text-gray-700 text-left" style="font-size: 0.9674rem">
        <th class="px-4 py-2 " style="background-color:#f8f8f8">Source</th>
        <th class="px-4 py-2 " style="background-color:#f8f8f8">Amount</th>
        <th class="px-4 py-2 " style="background-color:#f8f8f8">Date</th>
        <th class="px-4 py-2 " style="background-color:#f8f8f8">Description</th>
        <th class="px-4 py-2 " style="background-color:#f8f8f8">Actions</th>
      </tr>
    </thead>

  {% for income in page_obj %}
    <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">

      <td class="px-4 py-4">{{income.source}}</td>
      <td class="px-4 py-4">{{income.amount}}</td>
      <td class="px-4 py-4">{{income.date}}</td>
      <td class="px-4 py-4">{{income.description}}</td>
      <td class="px-4 py-4">
        <p class="leading-relaxed cursor-pointer mx-2 text-sm hover:text-blue-600"><a href="{% url 'incomes_update' income.id %}" class="text-blue-400 hover:text-blue-600 ">Edit</a></p>
        <p class="leading-relaxed cursor-pointer mx-2 text-sm hover:text-blue-600"><a href="{% url 'incomes_delete' income.id %}" class="text-blue-400 hover:text-blue-600 ">Delete</a></p>
      </td>

    </tr>
  {% endfor %}
  </table>
</div>

<div class="w-full flex justify-center pt-4 items-center">
  Showing page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
</div>

<div id="pagination" class="w-full flex justify-center pt-1 items-center">
    {% if page_obj.has_previous %}
      <p {% if page_obj.number == 1 %} class="leading-relaxed cursor-pointer mx-2 text-sm hover:text-blue-600" {% endif %}><a class="page-link" href="?page=1">&laquo;</a></li>
      <p class="leading-relaxed cursor-pointer mx-2 text-sm hover:text-blue-600"> <a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
    {% endif %}

    {% if page_obj.has_next %}
      <p class="leading-relaxed cursor-pointer mx-2 text-sm hover:text-blue-600"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <p class="leading-relaxed cursor-pointer mx-2 text-sm hover:text-blue-600"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
    {% endif %}
</div>
{% endblock content %}