{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock head %}

{% block content %}


<div class='px-48'>
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Expenses', 'Income'],
        datasets: [{
            label: 'Dollars',
            data: [{{expenses_total}}, {{incomes_total}}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

incomes:{% for income in incomes %}
<p>{{income.source}}</p>
{% endfor %}
<br>
expenses:{{expenses}}
<br>
total expenses:{{ expenses_total }}
<br>
total expenses:{{ incomes_total }}
<br>
Summary for the past 30 days: {{ net_worth }}

{% endblock content %}