works

finished my models
stubbed up some of my views
created the superuser

will work on my views and ui stuff like forms and so on

{% extends 'base.html' %}
{% load static %}

{% block head %}
link for css file
{% endblock head %}

{% block content %}
<h1>Expense Index Page</h1>

{% for expense in expenses %}
<ul>
  <li>Title: {{expense.title}}</li>
  <li>Amount: {{expense.amount}}</li>
  <li>Date: {{expense.date}}</li>
  <li>Description: {{expense.description}}</li>
  <li>Category: {{expense.category}}</li>
  {% comment %} <a href="{% url 'expenses_update' expense.id %}" class="btn danger">Edit</a>
  <a href="{% url 'expenses_delete' expense.id %}" class="btn danger">Delete</a> {% endcomment %}

</ul>
{% endfor %}
{% endblock content %}